* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: monospace;
}

.store {
  background: white;
  padding: 1rem;
  min-width: 640px;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

.store__products {
  margin: 1rem auto;
}

.store__products-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.store__products-list__product {
  display: block;
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid #eee;
}

h1 {
  color: navy;
  font-family: cursive;
}
