* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.store__header {
  background: rgb(0, 170, 70);
  padding: 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
}

h1 {
  color: white;
  font-family: sans-serif;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.small {
  font-size: 80%;
}

body {
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: sans-serif;
}

.store {
  background: white;
  padding: 1rem;
  width: 100%;
  max-width: 1200px;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  margin: 2rem;
  position: relative;
}

.store__products {
  margin: 1rem auto;
}

.store__products-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 1rem auto;
}

.store__products-list__product {
  display: block;
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid #eee;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.store__products-list__product__image {
  flex: 1 0 40%;
}

.store__products-list__product__image img {
  aspect-ratio: 1/1;
  max-width: 100%;
  height: 160px;
  object-fit: contain;
  object-position: center center;
  margin-bottom: 1rem;
  margin: 0 auto;
  display: block;
}

.store__products-list__product__price {
  font-family: monospace;
  color: darkblue;
  font-weight: bold;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin-top: 0.5rem;
  align-self: center;
}

.store__products-list__product__details {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.store__button {
  font-family: sans-serif;
  border: none;
  background: rgb(0, 170, 70);
  color: white;
  text-decoration: none;
  display: inline-block;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin: 1rem 0.2rem;
  font-size: 0.725rem;
  font-weight: 700;
}

.store__order {
  border: 1px solid #eee;
  padding: 0.5rem;
  margin: 1rem 0;
  position: relative;
}

.store__order__header {
  background: #efefef;
  padding: 0.5rem;
}

.store__order__items {
  border: 1px solid #eee;
  border-collapse: collapse;
  width: 100%;
}

.store__order__items th,
.store__order__items td {
  padding: 0.5rem;
}

.store__order__items th,
.store__order__items td {
  border: 1px solid #eee;
}

.store__order__items thead,
.store__order__items tfoot {
  background: #f9f9f9;
}

.store__basket {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  margin-left: -1rem;
  background: white;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  text-align: center;
  font-size: 0.75rem;
  border: 3px solid #00aa46;
  border-radius: 0.5rem;
}

.store__basket .store__button {
  width: 100%;
}

@media (max-width: 978px) {
  .store__products-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
}

@media (max-width: 768px) {
  .store__container {
    flex-flow: column;
  }
}

@media (max-width: 640px) {
  .store__products-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
  }
  .store__products-list__product {
    padding: 0.5rem;
    flex-flow: row;
    gap: 0.5rem;
  }
}
