* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: monospace;
}

.store {
  background: white;
  padding: 1rem;
  min-width: 640px;
}

.store__products {
  display: grid;
  grid-auto-columns: repeat(3, 1fr);
}

.store__products__product {
  display: block;
  border-radius: 1rem;
}

h1 {
  color: navy;
  font-family: cursive;
}
